*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #1A0B2E;
}
.navbar {

color: white;
gap: 24px;
}
.navbar-container{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;

}
.navbar-container h1{
padding-left: 200px;
}
.logo span{
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
background-clip:text;
color:transparent;
}
.navbar-container li{
list-style: none;
}
.menu {
    display: flex;
    gap: 32px;
    text-align: center;
    font-size: small;
    margin: auto;
}
.btn {
margin-right: 200px;
color: white;
border-radius: 999px;
padding:5px 12px;
border: none;
font-size: 16px;
font-weight: 700;
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
background-size: 200%;
cursor: pointer;
transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.btn:hover{
    background-position: 100%;
    transform: translateY(-3px) scale(.97);
    box-shadow: 0 6px 15px rgba(red, green, blue, alpha);
}
.hero {
color: white;
background-repeat: no-repeat;
background-image: url(bg/hero-bg.png);
width: 1600px;
height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.hero-content {
text-align: center;
max-width: 800px;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
z-index: 2;
}


  

.hero-content img {
background: none;
}
.podcast-circle .icon{
    
}


.banner-content h1 {
    font: size 48px;
    
}
.banner-content p{
font: size 1px;
font-weight: 10px;
padding-top: 8px;
color: darkgrey;
}
.banner-buttons {
    
    gap:0px;
    justify-content: center;
}
.primary-btn{

        color: white;
        border-radius: 999px;
        padding: 5px 12px;
        border: none;
        font-size: 16px;
        font-weight: 200;
        background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
        background-size: 200%;
        cursor: pointer;
        transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
.secondary-btn {
    border: 2px solid #00FF88;
        color: #00FF88;
        border-radius: 999px;
        padding: 5px 12px;
}
.About {
padding-left: 200px;
padding-right: 200px;
}
.about-content {
color: white;
justify-content: center;
text-align: center;
}
.about-content p{
margin-top: 16px;
font-weight: 400;
font-family:"ABeeZee",sans-serif;
color: darkgrey;
font-style: normal;
line-height: 2;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 60px auto;
}
.box {
    color:#00FF88;
    padding: 40px 20px;
    text-align: center;
    border-radius: 16px;
    font-size: 48px;
    font-weight: bold;

}
.box-container p {
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
font-family: 'ABeeZee', sans-serif;
font-weight: normal;
}
.Techwave{
    color: white;
    font-weight: bold;
    font-size: 48;
    text-align: center;
}
.why {
    max-width: 1200px;
    margin: 80px auto;
    padding: 10px 20px;
    background-color:#230E3D ;
}

.why h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    color: #FFFFFF;
    background-color: #230E3D;
}
.why-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color:#230E3D;
}
.why-box{
    padding:30px ;
    border-radius: 20px;
    transition: .3s;
}
.why-box:hover{
    transform: translateY(-8px);
}
.premium {
    grid-row: span 2;
}
.mobile {
    grid-column: span 2;
}
.global{
    grid-column: span 2;
}
.interviews{
    grid-column: span 2;
}

.icon {
    margin-bottom: 15px;
}
h3{
    margin: 10px 0;
    color: white;
}
p {
    opacity: .8;
    line-height: 1.7;
    color: white;
}