*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
body {
    background: #1A0B2E;
}
.navbar {

color: white;
gap: 24px;
}
.navbar-container{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;

}
.navbar-container h1{
padding-left: 200px;
}
.logo span{
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
background-clip:text;
color:transparent;
}
.navbar-container li{
list-style: none;
}
.menu-li {
    display: flex;
    gap: 32px;
    text-align: center;
    font-size: small;
    margin: auto;
}
.menu-icon{
    display: none;
    width: 28px;
    cursor: pointer;
}
.btn {
margin-right: 200px;
color: white;
border-radius: 999px;
padding:5px 12px;
border: none;
font-size: 16px;
font-weight: 700;
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
background-size: 200%;
cursor: pointer;
transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.btn:hover{
    background-position: 100%;
    transform: translateY(-3px) scale(.97);
    box-shadow: 0 6px 15px rgba(red, green, blue, alpha);
}

.wave {
    position: absolute;
    width: 45%;
    height: 2px;
    
    top: 50%;
}
.hero{
background: url(bg/hero-bg.png);
width: 100%;
height: 760px;
background-position: center;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;

}
.wave.left {
    left: 0;
}

.wave.right {
    right: 0;
}

/* Content */
.hero-content {
    text-align: center;
    z-index: 2;
}

/* Circle icon */
.icon-wrapper {
   background: url(bg/hero-circle.png);
   background-position: center;
   background-size: cover;
   height:350px; 
   width:350px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
position: relative;
}

.icon-wrapper img {
    width: 70px;
    
}

.badge{
    position: absolute;
    top: 5px;
    left: 60%;
    transform: translate(25%, -25%);
    background: #00ff9d;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    align-items: center;
    display:flex;
}

/* Text */
.hero-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: white;
    padding-top: 40px;
}

.hero-content p {
    font-size: 14px;
    opacity: 0.8;
    max-width: 420px;
    margin: 0 auto 24px;
}

/* Buttons */
.buttons {
    display: flex;
gap: 5px;
    justify-content: center;
    padding: 10px 18px;
}

.spotify {
    color: white;
        border-radius: 999px;
        padding: 5px 12px;
        border: none;
        font-size: 16px;
        font-weight: 200;
        background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
        background-size: 200%;
        cursor: pointer;
        transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
}

.subscribe {
    border: 2px solid #00FF88;
        color: #00FF88;
        border-radius: 999px;
        padding: 5px 12px;
         background-color: #1A0B2E;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 8px;
}
.About {
padding-left: 200px;
padding-right: 200px;
}
@media screen and (max-width : 576px) {
.About{
padding: 20px 40px;
}
}
 
.about-content {
color: white;
justify-content: center;
text-align: center;
}
.about-content p{
margin-top: 16px;
font-weight: 400;
font-family:"ABeeZee",sans-serif;
color: darkgrey;
font-style: normal;
line-height: 2;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 60px auto;
}
@media screen and (max-width : 576px){
.box-container{
    grid-template-columns: repeat(2,1fr);
}

}
.box {
    color:#00FF88;
    padding: 40px 20px;
    text-align: center;
    border-radius: 16px;
    font-size: 48px;
    font-weight: bold;

}
.box-container p {
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
font-family: 'ABeeZee', sans-serif;
font-weight: normal;
}
.Techwave{
    color: white;
    font-weight: bold;
    font-size: 48;
    text-align: center;
}
.why {
    max-width: 1200px;
    margin: 80px auto;
    padding: 10px 20px;
    background-color:#230E3D ;
}

.why h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    color: #FFFFFF;
    background-color: #230E3D;
}
.why-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color:#230E3D;
}
@media screen and (max-width : 576px) {
    .why-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.why-box{
    padding:30px ;
    border-radius: 20px;
    transition: .3s;
}
.why-box:hover{
    transform: translateY(-8px);
}
.premium {
    grid-row: span 2;
}
.mobile {
    grid-column: span 2;
}
.global{
    grid-column: span 2;
}
.interviews{
    grid-column: span 2;
}

.icon {
    margin-bottom: 15px;
}
h3{
    margin: 10px 0;
    color: white;
}
p {
    opacity: .8;
    line-height: 1.7;
    color: white;
}
.featured {
    max-width: 1100px;
        margin: auto;
        padding: 80px 20px;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

.section-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 50px;
    color: white;
    margin-top: 30px;
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
@media screen and (max-width : 576px) {
.episode-grid  {
        grid-template-columns: repeat(1, 1fr);
    }

}
.episode-card {
    background: linear-gradient(145deg, #3b0b64, #22003a);
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
    transition: .4s;
}

.episode-card:hover {
    transform: translateY(-10px);
}

.thumb {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 /9;
}

.thumb iframe {
    width: 100%;
    display: block;
    height: 100%;
    border: 0;
}

.play {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 40px;
    background: rgba(0, 0, 0, .4);
}

.time {
    color: #38f9a5;
    font-weight: 600;
    display: block;
    margin-top: 10px;
}

.host-card {
    margin-top: 50px;
    
    border-radius: 18px;
    padding: 20px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
    
}
@media  (max-width : 576px){
    .host-card{
        flex: 0 0 100%;
    }
}
.host-card img {
    width: 120px;
    border-radius: 50%;
    border: 4px ;
}

.social span {
    width:100% ;
    height: 100%;

justify-content: center;
align-items: center;
    border-radius:100%;
    cursor: pointer;
}
.host-container{
    /* border: none; */
    padding-left: 20px;
}
.social span img{
    width:40px;
    height: 40px;
    padding: 7px 12px;
    object-fit: contain;
}
.footer {
    padding: 40px 0;
    margin: 0 auto;
    background: url(bg/footer-bg.png);
    width: 100%;
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-content {
    max-width: 1100px;
    text-align: center;
    padding: 40px 20px;
    width: 90%;

}

.footer-social {
    text-align: center;
    padding-bottom: 25px;
    display: inline-block;
    line-height: 32px;
    gap: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    gap: 10px;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    white-space: nowrap;

}

.footer h3 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;

}

.footer h3 span {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}
@media  screen and (max-width:567px) {
    .host-card {
        flex-direction: column;
    }
        .host-card h3 {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }
                .navbar-container {
                    padding: 16px;
                }
        
                .menu {
                    display: none;
                }
        
                .menu-li {
                    display: none;
                }
        
                .btn {
                    display: none;
                }
        
                .menu-icon {
                    display: block;
                }
        
                .navbar-container h1 {
                    padding-left: 0;
                    font-size: 26px;
                }
        
                .about-content .h1 {
                    padding: 40px 20px;
                    font-weight: bold;
                    font-size: 32px;
                }
                                .footer {
                                    background: url(bg/footer-bg.png) no-repeat center center;
                                    background-size: contain;
                                    height: 248px;
                
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                
                                .footer-content {
                                    padding: 30px 16px;
                                }
                
                
                                .footer-content {
                                    text-align: center;
                                }
                
                                .footer-content h3 {
                                    font-size: 34px;
                                    margin-bottom: 28px;
                                }
                
                                .footer-social {
                                    width: 100%;
                                }
                
                                .footer-social .menu {
                                    display: grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    gap: 8;
                                    padding: 0;
                                    margin-bottom: 26px;
                                }
                
                                .footer-social .menu li {
                                    justify-content: center;
                                    font-size: 14px;
                                    gap: 8px;
                                }
                
                                .footer-social .menu li img {
                                    width: 20px;
                                    height: 20px;
                                }
                
                                .copywrite {
                                    font-size: 13px;
                                    line-height: 1.5;
                                }
}