*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #1A0B2E;
}
.navbar {

color: white;
gap: 24px;
}
.navbar-container{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;

}
.navbar-container h1{
padding-left: 200px;
}
.logo span{
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
background-clip:text;
color:transparent;
}
.navbar-container li{
list-style: none;
}
.menu {
    display: flex;
    gap: 32px;
    text-align: center;
    font-size: small;
    margin: auto;
}
.btn {
margin-right: 200px;
color: white;
border-radius: 999px;
padding:5px 12px;
border: none;
font-size: 16px;
font-weight: 700;
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
background-size: 200%;
cursor: pointer;
transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.btn:hover{
    background-position: 100%;
    transform: translateY(-3px) scale(.97);
    box-shadow: 0 6px 15px rgba(red, green, blue, alpha);
}

